<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Safari</key>
	<dict>
		<key>HeadData</key>
		<dict>
			<key>Active</key>
			<string>1</string>
			<key>Name</key>
			<string>Finder</string>
			<key>Versions</key>
			<array>
				<string>5.1.7</string>
			</array>
		</dict>
		<key>Shortcuts</key>
		<dict>
			<key>Activity</key>
			<string>Command-Option-A</string>
			<key>Add Bookmark</key>
			<string>Command-D</string>
			<key>Add Bookmark Folder</key>
			<string>Shift-Command-N</string>
			<key>Add to Reading List</key>
			<string>Shift-Command-D</string>
			<key>Apple</key>
			<string>Control-Shift-F2</string>
			<key>AutoFill Form</key>
			<string>Shift-Command-A</string>
			<key>Back</key>
			<string>Command-[</string>
			<key>Block Pop-Up Windows</key>
			<string>Shift-Command-K</string>
			<key>Bookmarks</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Check Document Now</key>
			<string>Command-;</string>
			<key>Close</key>
			<string>Command-W</string>
			<key>Close All Windows</key>
			<string>Option-Command-W</string>
			<key>Close Tab</key>
			<string>Command-W</string>
			<key>Copy</key>
			<string>Command-C</string>
			<key>Cut</key>
			<string>Command-X</string>
			<key>Develop</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Downloads</key>
			<string>Command-Option-L</string>
			<key>Edit</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Empty Cache…</key>
			<string>Command-Option-E</string>
			<key>Enter Full Screen</key>
			<string>Control-Command-F</string>
			<key>File</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Find Next</key>
			<string>Command-G</string>
			<key>Find Previous</key>
			<string>Command-Shift-G</string>
			<key>Find…</key>
			<string>Command-F</string>
			<key>Forward</key>
			<string>Command-]</string>
			<key>Google Search</key>
			<string>Command-Option-F</string>
			<key>Google Search…</key>
			<string>Option-Command-F</string>
			<key>Help</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Hide Bookmarks Bar</key>
			<string>Shift-Command-B</string>
			<key>Hide Dock (System-wide)</key>
			<string>Command-Option-D</string>
			<key>Hide Downloads</key>
			<string>Option-Command-L</string>
			<key>Hide Favorites Bar</key>
			<string>Command-B</string>
			<key>Hide Find Banner</key>
			<string>Shift-Command-F</string>
			<key>Hide Others</key>
			<string>Option-Command-H</string>
			<key>Hide Reading List</key>
			<string>Shift-Command-L</string>
			<key>Hide Safari</key>
			<string>Command-H</string>
			<key>Hide Status Bar</key>
			<string>Command-\</string>
			<key>Hide Toolbar</key>
			<string>Command-Shift-|</string>
			<key>Hide all bookmarks</key>
			<string>Command-Option-B</string>
			<key>History</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Home</key>
			<string>Shift-Command-H</string>
			<key>Inspect Element</key>
			<string>Control-Command-I</string>
			<key>Jump to Selection</key>
			<string>Command-J</string>
			<key>Mail Contents of This Page</key>
			<string>Command-I</string>
			<key>Mail Link to This Page</key>
			<string>Shift-Command-I</string>
			<key>Mark Page for SnapBack</key>
			<string>Command-Option-M</string>
			<key>Minimize</key>
			<string>Command-M</string>
			<key>New Tab</key>
			<string>Command-T</string>
			<key>New Window</key>
			<string>Command-N</string>
			<key>New item</key>
			<string></string>
			<key>Open</key>
			<string>Command-O</string>
			<key>Open File…</key>
			<string>Command-O</string>
			<key>Open Location…</key>
			<string>Command-L</string>
			<key>Page Setup</key>
			<string>Command-Shift-P</string>
			<key>Paste</key>
			<string>Command-V</string>
			<key>Paste and Match Style</key>
			<string>Control-Shift-Command-V</string>
			<key>Preferences…</key>
			<string>Command-,</string>
			<key>Print Page…</key>
			<string>Command-P</string>
			<key>Print…</key>
			<string>Command-P</string>
			<key>Quit Safari</key>
			<string>Command-Q</string>
			<key>Redo</key>
			<string>Command-Shift-Z</string>
			<key>Reload Page</key>
			<string>Command-R</string>
			<key>Safari</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Safari Help</key>
			<string>Command-?</string>
			<key>Save As…</key>
			<string>Command-S</string>
			<key>Search Results SnapBack</key>
			<string>Control-Command-S</string>
			<key>Select All</key>
			<string>Command-A</string>
			<key>Select Next Item in Reading List</key>
			<string>Control-Command-Down Key</string>
			<key>Select Next Tab</key>
			<string>Option-Tabulator</string>
			<key>Select Previous Item in Reading List - 2</key>
			<string>Control-Command-Down Key</string>
			<key>Select Previous Tab</key>
			<string>Option-Shift-Tabulator</string>
			<key>Show All Bookmarks</key>
			<string>Command-Option-B</string>
			<key>Show All History</key>
			<string>Control-Command-2</string>
			<key>Show Bookmarks Bar</key>
			<string>Shift-Command-B</string>
			<key>Show Dock (System-wide)</key>
			<string>Command-Option-D</string>
			<key>Show Downloads</key>
			<string>Option-Command-L</string>
			<key>Show Error Console</key>
			<string>Control-Command-E</string>
			<key>Show Favorites Bar</key>
			<string>Command-B</string>
			<key>Show Reader</key>
			<string>Shift-Command-R</string>
			<key>Show Reading List</key>
			<string>Shift-Command-L</string>
			<key>Show Spelling and Grammar</key>
			<string>Command-:</string>
			<key>Show Status Bar</key>
			<string>Command-/</string>
			<key>Show Toolbar</key>
			<string>Command-I</string>
			<key>Show Top Sites</key>
			<string>Option-Command-1</string>
			<key>Show Web Inspector</key>
			<string>Control-Command-I</string>
			<key>Show all bookmarks</key>
			<string>Command-Option-B</string>
			<key>Show the next page</key>
			<string>Command-]</string>
			<key>Show the previous page</key>
			<string>Command-[</string>
			<key>SnapBack to Page</key>
			<string>Command-Option-P</string>
			<key>SnapBack to Search</key>
			<string>Command-Option-S</string>
			<key>Special Characters…</key>
			<string>Option-Command-T</string>
			<key>Start Profiling JavaScript</key>
			<string>Option-Shift-Command-P</string>
			<key>Stop</key>
			<string>Command-.</string>
			<key>Undo</key>
			<string>Command-Z</string>
			<key>Use Selection for Find</key>
			<string>Command-E</string>
			<key>View</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>View Source</key>
			<string>Option-Command-U</string>
			<key>View Source in TextEdit</key>
			<string>Command-Option-V</string>
			<key>Window</key>
			<string>Control-Shift-F2-Right Arrow Key</string>
			<key>Zoom In</key>
			<string>Command-+</string>
			<key>Zoom Out</key>
			<string>Command--</string>
			<key>add bookmark to menu</key>
			<string>Command-Shift-D</string>
			<key>close button</key>
			<string>Command-Q  or Commad-W(PopUp)</string>
			<key>close tab</key>
			<string>Command-W</string>
			<key>find next</key>
			<string>Command-Option-F</string>
			<key>minimize button</key>
			<string>Command-M</string>
			<key>page address</key>
			<string>Command-L</string>
			<key>search text field</key>
			<string>Option-Command-F</string>
		</dict>
	</dict>
</dict>
</plist>
